body {
  /*background: rgb(235, 187, 173);*/
	background: #f9b491;
}

/*==== Calculator Background ====*/

#calculator, #calculator-shadow {
	height: 400px;
	width: 300px;
	border-radius: 30px;
	margin-top: 10%;
}

#calculator-shadow {
	background: rgb(206,206,206);
	position: absolute;
	left: calc(33% + 10px);
	z-index: 1;
}

#calculator {
	left: 33%;
	top: -10px;
	background: #E8E8EE;
	z-index: 2;
	position: absolute;
}

/*==== Calculator Input ====*/

#input-box {
	width: 80%;
	height: 15%;
	background: rgba(206,206,206, 0.5);
	margin-left: 10%;
	display:inline-block;
	margin-top: 10%;
	overflow: hidden;
}

#history {
	float: left;
	font-family: 'Orbitron', sans-serif;
	font-size: .8em;
	color: #808080;
	margin-top: 1%;
	margin-left: 1%;
}

#input-value {
	font-family: 'Orbitron', sans-serif;
	float: right;
	font-size: 1.9em;
	margin-top: 5%;
	margin-right: 2%;
	color: #808080;
}


/*==== Calculator Buttons ====*/

#buttons {
	width: 80%;
	margin-left: 10%;
	height: 60%;
	margin-top: 2%;
}

button {
	border-radius: 50%;
	width: 18%;
	height: 18%;
	border-style: solid;
	margin: 4px 6px;
	color: #808080;
}

button:focus {
  	outline: none;
}

button:not(.red):hover {
	background: #91A8D0;
	color: white;
}

.red {
	background: #DC143C;
	color: #ffffff;
}

/*==== Error message for overflow ====*/

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}